mediola:
  host: 192.168.1.211
  password: password
mqtt:
  host: core-mosquitto
  port: 1883
  username: mqtt-user
  password: mqtt-user
  discovery_prefix: homeassistant
  topic: mediola
  debug: false
blinds:
  - type: ER
    adr: "01"
    name: Zijkant
  - type: ER
    adr: "02"
    name: Vooraan
  - type: ER
    adr: "03"
    name: Schuifdeur
  - type: ER
    adr: "04"
    name: Keuken
buttons: []